@import "tailwindcss";

@theme inline {
  --color-cream: #FEF9EF;
  --color-lime: #D1F55A;
  --color-lime-dark: #B8DC3C;
  --color-pink: #FF90BC;
  --color-pink-dark: #E878A4;
  --color-sky: #7DF9FF;
  --color-sky-dark: #5AD6DC;
  --color-lavender: #C4B5FD;
  --color-peach: #FBBF7D;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-100: #F5F5F5;
  --color-gray-200: #E5E5E5;
  --color-gray-400: #A3A3A3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-red-light: #FEE2E2;
  --color-red: #EF4444;
  --color-green-light: #D1FAE5;
  --color-green: #10B981;
  --font-sans: "Space Grotesk", system-ui, sans-serif;
}

body {
  background: var(--color-cream);
  color: var(--color-black);
  font-family: var(--font-sans);
}

/* Neobrutalism utility classes */
.neo-shadow {
  box-shadow: 4px 4px 0px var(--color-black);
}

.neo-shadow-sm {
  box-shadow: 2px 2px 0px var(--color-black);
}

.neo-shadow-lg {
  box-shadow: 6px 6px 0px var(--color-black);
}

.neo-border {
  border: 3px solid var(--color-black);
}

.neo-press:active {
  box-shadow: 1px 1px 0px var(--color-black);
  transform: translate(3px, 3px);
}

.neo-press-sm:active {
  box-shadow: 0px 0px 0px var(--color-black);
  transform: translate(2px, 2px);
}

::selection {
  background: var(--color-lime);
  color: var(--color-black);
}
